h1{
    font-size: 10mm;
    text-align: center;
}
h2{
    font-size: 7.5mm;
    text-align: center;
}
h3{
    font: 5mm;
    color: blue;
}
div{
    font-size: 4mm;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    margin-right: 900px;
    padding: 25px;
    font-weight: bolder;
}
p{
    font-weight: bolder;
}
label{
    font-weight: bold;
}
body{
    background-image: url(https://images.pexels.com/photos/1532771/pexels-photo-1532771.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: cover;
}
